@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --superellipse-curve: 1.4;
  --color-red-50: oklch(0.931 0.037 43.078);
  --color-red-100: oklch(0.882 0.064 36.357);
  --color-red-150: oklch(0.831 0.091 32.446);
  --color-red-200: oklch(0.778 0.116 30.328);
  --color-red-300: oklch(0.683 0.152 29.791);
  --color-red-400: oklch(0.597 0.169 28.379);
  --color-red-500: oklch(0.55 0.168 27.879);
  --color-red-600: oklch(0.504 0.165 27.839);
  --color-red-700: oklch(0.447 0.145 27.778);
  --color-red-800: oklch(0.363 0.109 26.954);
  --color-red-850: oklch(0.313 0.087 26.307);
  --color-red-900: oklch(0.264 0.062 25.144);
  --color-red-950: oklch(0.213 0.032 23.313);

  --color-orange-50: oklch(0.941 0.042 68.423);
  --color-orange-100: oklch(0.895 0.068 61.722);
  --color-orange-150: oklch(0.853 0.092 59.682);
  --color-orange-200: oklch(0.811 0.113 56.609);
  --color-orange-300: oklch(0.728 0.143 52.656);
  --color-orange-400: oklch(0.658 0.154 49.3);
  --color-orange-500: oklch(0.612 0.153 47.368);
  --color-orange-600: oklch(0.567 0.152 45.02);
  --color-orange-700: oklch(0.495 0.133 44.792);
  --color-orange-800: oklch(0.397 0.101 46.502);
  --color-orange-850: oklch(0.342 0.081 47.519);
  --color-orange-900: oklch(0.283 0.058 49.406);
  --color-orange-950: oklch(0.226 0.03 54.27);

  --color-yellow-50: oklch(0.949 0.054 93.289);
  --color-yellow-100: oklch(0.914 0.087 93.228);
  --color-yellow-150: oklch(0.88 0.112 92.853);
  --color-yellow-200: oklch(0.85 0.131 92.278);
  --color-yellow-300: oklch(0.787 0.147 89.373);
  --color-yellow-400: oklch(0.735 0.146 87.459);
  --color-yellow-500: oklch(0.683 0.138 86.785);
  --color-yellow-600: oklch(0.633 0.129 85.811);
  --color-yellow-700: oklch(0.548 0.112 85.819);
  --color-yellow-800: oklch(0.435 0.088 86.92);
  --color-yellow-850: oklch(0.37 0.074 88.38);
  --color-yellow-900: oklch(0.304 0.058 90.145);
  --color-yellow-950: oklch(0.236 0.037 94.233);

  --color-green-50: oklch(0.94 0.041 108.669);
  --color-green-100: oklch(0.897 0.063 112.51);
  --color-green-150: oklch(0.852 0.082 114.136);
  --color-green-200: oklch(0.81 0.098 115.451);
  --color-green-300: oklch(0.723 0.118 117.198);
  --color-green-400: oklch(0.651 0.124 119.384);
  --color-green-500: oklch(0.605 0.132 121.209);
  --color-green-600: oklch(0.559 0.134 122.924);
  --color-green-700: oklch(0.485 0.116 123.028);
  --color-green-800: oklch(0.39 0.09 122.072);
  --color-green-850: oklch(0.338 0.076 121.854);
  --color-green-900: oklch(0.281 0.056 120.896);
  --color-green-950: oklch(0.225 0.032 119.344);

  --color-cyan-50: oklch(0.94 0.027 157.362);
  --color-cyan-100: oklch(0.898 0.047 170.998);
  --color-cyan-150: oklch(0.855 0.065 176.357);
  --color-cyan-200: oklch(0.813 0.079 179.387);
  --color-cyan-300: oklch(0.734 0.097 180.726);
  --color-cyan-400: oklch(0.67 0.1 186.578);
  --color-cyan-500: oklch(0.613 0.093 186.659);
  --color-cyan-600: oklch(0.554 0.086 186.744);
  --color-cyan-700: oklch(0.483 0.075 187.623);
  --color-cyan-800: oklch(0.39 0.058 186.747);
  --color-cyan-850: oklch(0.337 0.047 188.778);
  --color-cyan-900: oklch(0.282 0.035 186.449);
  --color-cyan-950: oklch(0.225 0.021 185.21);

  --color-blue-50: oklch(0.935 0.012 190.434);
  --color-blue-100: oklch(0.884 0.029 228.09);
  --color-blue-150: oklch(0.835 0.047 231.037);
  --color-blue-200: oklch(0.782 0.062 235.926);
  --color-blue-300: oklch(0.681 0.085 239.802);
  --color-blue-400: oklch(0.599 0.11 246.996);
  --color-blue-500: oklch(0.539 0.121 251.395);
  --color-blue-600: oklch(0.482 0.131 254.789);
  --color-blue-700: oklch(0.427 0.115 254.584);
  --color-blue-800: oklch(0.35 0.086 254.227);
  --color-blue-850: oklch(0.306 0.069 253.498);
  --color-blue-900: oklch(0.26 0.049 253.24);
  --color-blue-950: oklch(0.213 0.025 249.049);

  --color-purple-50: oklch(0.942 0.007 354.801);
  --color-purple-100: oklch(0.897 0.024 310.691);
  --color-purple-150: oklch(0.855 0.04 300.217);
  --color-purple-200: oklch(0.808 0.056 298.055);
  --color-purple-300: oklch(0.714 0.08 295.136);
  --color-purple-400: oklch(0.635 0.11 290.996);
  --color-purple-500: oklch(0.543 0.133 292.539);
  --color-purple-600: oklch(0.454 0.145 294.828);
  --color-purple-700: oklch(0.404 0.127 294.634);
  --color-purple-800: oklch(0.336 0.096 295.654);
  --color-purple-850: oklch(0.296 0.076 296.457);
  --color-purple-900: oklch(0.254 0.054 298.34);
  --color-purple-950: oklch(0.211 0.026 298.28);

  --color-magenta-50: oklch(0.94 0.029 15.014);
  --color-magenta-100: oklch(0.896 0.052 1.83);
  --color-magenta-150: oklch(0.85 0.079 356.49);
  --color-magenta-200: oklch(0.805 0.101 355.47);
  --color-magenta-300: oklch(0.716 0.136 354.63);
  --color-magenta-400: oklch(0.635 0.156 350.475);
  --color-magenta-500: oklch(0.564 0.161 349.805);
  --color-magenta-600: oklch(0.495 0.161 349.757);
  --color-magenta-700: oklch(0.44 0.141 349.417);
  --color-magenta-800: oklch(0.36 0.109 349.028);
  --color-magenta-850: oklch(0.313 0.087 347.6);
  --color-magenta-900: oklch(0.263 0.061 345.808);
  --color-magenta-950: oklch(0.214 0.033 344.07);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

code {
  font-variant-ligatures: additional-ligatures !important;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@utility rounded-* {
  @supports (corner-shape: superellipse(1)) {
    corner-shape: superellipse(var(--superellipse-curve, 1.6));
    border-radius: calc(
      --value(--radius- *, [length]) * var(--radius-scale, 1.6)
    ) !important;
  }
}

@utility rounded-t {
  @supports (corner-shape: superellipse(1)) {
    corner-shape: superellipse(var(--superellipse-curve, 1.6));
    border-top-left-radius: calc(
      var(--radius) * var(--radius-scale, 1.6)
    ) !important;
    border-top-right-radius: calc(
      var(--radius) * var(--radius-scale, 1.6)
    ) !important;
  }
}

@utility rounded-t-* {
  @supports (corner-shape: superellipse(1)) {
    corner-shape: superellipse(var(--superellipse-curve, 1.6));
    border-top-left-radius: calc(
      --value(--radius- *, [length]) * var(--radius-scale, 1.6)
    ) !important;
    border-top-right-radius: calc(
      --value(--radius- *, [length]) * var(--radius-scale, 1.6)
    ) !important;
  }
}

@utility rounded-r {
  @supports (corner-shape: superellipse(1)) {
    corner-shape: superellipse(var(--superellipse-curve, 1.6));
    border-top-right-radius: calc(
      var(--radius) * var(--radius-scale, 1.6)
    ) !important;
    border-bottom-right-radius: calc(
      var(--radius) * var(--radius-scale, 1.6)
    ) !important;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  text-rendering: optimizeLegibility;
}

code {
  font-family: var(--font-geist-mono);
}

code > span {
  font-feature-settings: "liga" 1, "clig" 1;
  font-variant-ligatures: common-ligatures;
  font-family: var(--font-geist-mono);
}

.ambient-light {
  @apply absolute top-0 left-0 w-full h-screen pointer-events-none select-none;
}

.ambient-light .light-a,
.ambient-light .light-b {
  @apply absolute rounded-full top-0 left-0 h-345;
}

.ambient-light .light-a {
  @apply w-140;
  transform: translateY(-350px) rotate(-45deg);
  background: radial-gradient(
    68.54% 68.72% at 55.02% 31.46%,
    hsla(0, 0%, 85%, 0.08) 0,
    hsla(0, 0%, 55%, 0.02) 50%,
    hsla(0, 0%, 45%, 0) 80%
  );
}

.ambient-light .light-b {
  @apply w-60;
  transform: rotate(-45deg) translate(5%, -50%);
  transform-origin: top left;
  background: radial-gradient(
    50% 50% at 50% 50%,
    hsla(0, 0%, 85%, 0.06) 0,
    hsla(0, 0%, 45%, 0.02) 80%,
    transparent 100%
  );
}

.ambient-light .light-c {
  @apply absolute rounded-full top-0 left-0 w-60 h-345;
  transform: rotate(-45deg) translate(-180%, -70%);
  transform-origin: top left;
  background: radial-gradient(
    50% 50% at 50% 50%,
    hsla(0, 0%, 85%, 0.04) 0,
    hsla(0, 0%, 45%, 0.02) 80%,
    transparent 100%
  );
}
